/* region common */
:root{
    --bootstrap-primary: #2c3e50;
    --bootstrap-secondary: #1abc9c;
    --bootstrap-primary-light: #3a546d;
    --bootstrap-lighter: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* endregion common */

/* region utilies*/

h2{
    font-size: 45px;
}
.color-text-primary{
    color: var(--bootstrap-primary);
}
.separated {
    font-size: 30px;

    & > hr{
        width: 130px;
        height: 4px;
        opacity: 1;
    }
}


/* region utilies*/


/* region header */

#site_header{
    height: 80px;
    background-color: var(--bootstrap-primary);

}


/* region header */

/* region main */

/* div jumbotrom */
#jumbotron{
    background-color: var(--bootstrap-secondary);
    padding: 30px;
    color: var(--bootstrap-lighter);

        & .container_image{
            width: 300px;
        }

        & .container-md > h1{
            font-size: 60px;
        }

        & .separated > hr{
                background-color: white;
            }
        & span{
            font-size: 28px;
        }
}


/* enddiv jumbotrom */

/* section portofolio */
#portofolio{
    padding: 50px 0;

    & .separated > hr{
        background-color: var(--bootstrap-primary);
    }

    & .debug-color{
        & .card{
            background-color: yellow;
            width: 100%;
            height: 100%;
        }
    }
}

/* endsection portofolio */

/* section about */
#about{
    padding: 20px 0;
    background-color: #1abc9c;
}
/* endsection portofolio */

/* section contact me */
#contact_me{
    padding-top: 50px;
    padding-bottom: 20px;
    & .square_contact_me{
        height: 300px;
        background-color: green;
    }
}
/* endsection contact me */

/* endregion main */

/* region footer */

.top-footer{
    background-color: var(--bootstrap-primary-light);
    padding: 40px 30px;
     
    & p{
        margin: 0;
    }
}
.bottom-footer{
    padding: 30px 0;
    background-color: var(--bootstrap-primary);
}
/* endregion footer */

/* region media */

@media screen and (max-width: 720px){
    
    #jumbotron > .container-md{

        & h1{
            font-size: 45px;
        }
        & span{
            font-size: 18px;
        }

    }
}

/* endregion media */
