/* region common */
:root{
    --bootstrap-primary: #2c3e50;
    --bootstrap-secondary: #1abc9c;
    --bootstrap-primary-light: #3a546d;
    --bootstrap-lighter: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* endregion common */

/* region utilies*/

h2{
    font-size: 30px;
}
.color-text-primary{
    color: var(--bootstrap-primary);
}
.separated {
    font-size: 30px;

    & > hr{
        width: 60px;
        height: 4px;
        opacity: 1;
        vertical-align: middle;
    }
}


/* region utilies*/


/* region header */

#site_header{
    height: 80px;
    background-color: var(--bootstrap-primary);

}


/* region header */

/* region main */

/* div jumbotrom */
#jumbotron{
    background-color: var(--bootstrap-secondary);
    padding: 30px;
    color: var(--bootstrap-lighter);

        & .container_image{
            width: 300px;
        }

        & .container-md > h1{
            font-size: 45px;
        }

        & .separated > hr{
                background-color: white;
            }
        & span{
            font-size: 18px;
        }
}


/* enddiv jumbotrom */

/* section portofolio */
#portofolio{
    padding: 50px 0;

    & .separated > hr{
        background-color: var(--bootstrap-primary);
    }
}


/* endsection portofolio */

/* section about */
#about{
    padding: 20px 0;
    background-color: #1abc9c;
    
    & .container > .separated > hr{
        background-color: var(--bootstrap-lighter);
    }

    & .container > a{
        border: 1px solid var(--bootstrap-lighter);
        border-radius: 0.3rem ;
    }
}
/* endsection portofolio */

/* section contact me */
#contact_me{
    padding-top: 50px;
    padding-bottom: 20px;

    & .container > .separated{

        & i{
            color: var(--bootstrap-primary);
        }

        & > hr{
        background-color: var(--bootstrap-primary);
        }
    }
    & .square_contact_me button:nth-last-child(1){
        background-color: var(--bootstrap-secondary);
    }
}
/* endsection contact me */

/* endregion main */

/* region footer */

.top-footer{
    background-color: var(--bootstrap-primary-light);
    padding: 40px 30px;
     
    & span{
        display: block;
        & a{
            text-decoration: none;
            color: var(--bootstrap-secondary);
        }
    }
    & .widget > .icon{
        border: 1px solid var(--bootstrap-lighter);
        font-size: 20px;
        width: 45px; 
        border-radius: 50%;
        aspect-ratio: 1;
        
    }
}
.bottom-footer{
    padding: 30px 0;
    background-color: var(--bootstrap-primary);
}
/* endregion footer */

/* region media */

@media screen and (min-width: 720px){
    
    #jumbotron > .container-md{

        & h1{
            font-size: 50px;
        }
        & span{
            font-size: 25px;
        }

    }

    .separated >hr{
        width: 120px;
    }
}

/* endregion media */
